:root {
  // Layout
  --app-indent  : 30px;

  // Colors
  --basic-color : white;
   --text-color : black;
  
  // Typography
  --basic-font  : 'Source Sans Pro', sans-serif;
          --h1  : 30px;
}